target/
release.properties
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.project
.classpath

*.class
*.log
hs_err_pid*
replay_pid*

bin/
.idea/
D:/
*.iml
.settings
.paper-nms